<div class="welcome">
    <h1 class="logo">Welcome to <i class="fa fa-check-square" aria-hidden="true"></i><span>Blocitoff</span></h1>
    <h2>A free todo list app to help keep you on track</h2>
    <% if current_user.nil? %>
        <h2 id="register" onclick ="blocmetrics.report('New user registeration click from homepage')"><%= link_to 'Register Now!', new_user_registration_path %></h2>
    <% end %>
</div>