
    <%= number + 1 %><span style="padding-left: 2rem;"><%=  item.name %></span>
    <%= link_to "", user_item_path(current_user, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    <%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %>