
    <%= number + 1 %><span style="padding-left: 2rem;"><%=  item.name %></span>
    <%= link_to "", user_item_path(current_user, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
