/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= include reset
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$yellow: #FFF200; 
$yellow-rgb: rgba(255, 242, 0, .2);
$blue: rgba(25,190, 255, .9 );
$red: rgba(204, 20, 56, 1 );

div{
    padding: 0;
    margin: 0;
}

header, footer{
    padding: 2rem;
    background: $blue;
    color: $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        list-style: none;
        li{
            padding: 0 2rem;
            a{
                color: $yellow;
                &:hover{
                    text-decoration: none;
                    color: $yellow;
                }
            }
        }
    }
}
header{
    border-bottom: 15px solid $red;
    div{
        flex: 1
    }
    ul{
        justify-content: flex-end;
        flex: 3;
    }
}
footer{
    flex-direction: column;
    border-top: 15px solid $red;
    div{
        padding: 2rem 0;
    }
}
body{
    height: 100%;
    p{
        margin: 0;
        padding: 0;
    }
    width: 100%;
    background-image: url('beach1400x1400.jpg');
}
.content-container{
    min-height: 700px;
    padding-bottom: 5rem;
    background: $yellow-rgb;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-weight: bold;
}
.logo{
    font-size: 2rem;
    span{
        padding-left: .5rem;
    }
}

.welcome{
    height: 300px;
    h2,h1{
        width: 60%;
        margin: 0 auto;
    }
    h1{
        padding-top: 5rem;
        border-bottom: 5px solid $red;
    }
    h2{
        a{
            color: $yellow;
            &:hover{
                text-decoration: none;
                color: $yellow;
            }
        }
    }
    #register{
        padding-top: 3rem;
    }
}

.user-profile{
    margin: 5rem auto;
    h2{
        border-bottom: 3px solid $red; 
        padding-bottom: .5rem;
    }
    .container{
        display: flex;
        padding: 1rem 0;
        width: 100%;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 .5rem;
            p{
                padding-left: .5rem;
            }
        }
        .one{
            flex: 1;
        }
        .two{
            flex: 2;
        }
        div:not(:last-child) {
            border-right: 1px solid $red;
        }
    }
}

.main-content{
    padding: 2rem; 
    width: 60%; 
    background: $blue; 
    border-left: 15px solid $red;
    color: $yellow;
    margin: 5rem auto;
    .buttons{
        padding-top: 2rem;
    }
    .field{
        padding-bottom: 2rem;
        input{
            color: black;
            background: $yellow;
        }
    }
    .button_to, .actions {
        input{
            display: inline;
            color: $blue;
            background-color: $yellow;
            border: 3px solid $red;
            font-size: 1.5rem;
            padding: .5rem;
            font-weight: 700;
            border-radius: 10px;
            box-sizing: content-box;
            &:hover{
                text-decoration: none;
                color: $blue;
                background-color: $yellow;
                border: 3px solid $red;
                font-size: 1.5rem;
                padding: .5rem;
                font-weight: 700;
                border-radius: 10px;
                box-sizing: content-box;
            }
        }
    }
}
.button{
    color: $blue;
    background-color: $yellow;
    border: 3px solid $red;
    font-size: 1.5rem;
    padding: .5rem;
    font-weight: 700;
    border-radius: 10px;
    box-sizing: content-box;
    &:hover{
        text-decoration: none;
        color: $blue;
        background-color: $yellow;
        border: 3px solid $red;
        font-size: 1.5rem;
        padding: .5rem;
        font-weight: 700;
        border-radius: 10px;
        box-sizing: content-box;
    }

}
.item{
    display: flex;
    padding: 1rem;
    border-top: 3px solid $red;
    font-size: 2rem;
    .number{
        flex: 1
    }
    .name{
        flex: 5
    }
    .delete{
        flex: 1
    }
    .time{
        flex: 1
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
}